
*.DS_Store
*~

/tmp
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/*Bib.xml
/doc/*Bib.xml.bib
/doc/AutoDoc.xml
/doc/AutoDocMainFile.xml
/doc/Chapter*xml
/doc/maketest.g
/doc/manual.lab
/doc/manual.six
/doc/QuickReference/*
/doc/title.xml
/gh-pages/
VERSION

ExampleIdeas
make_dist_for_autodoc.sh
public_html
public_html.version
