*.DS_Store
*~

/gh-pages/
/tmp

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/*.xml.bib
/doc/AutoDoc.xml
/doc/_*.xml
/doc/maketest.g
/doc/manual.lab
/doc/manual.six
/doc/QuickReference/*
/doc/title.xml
*.actual/
